<span *ngIf="!loggedIn">
<app-login></app-login>
</span>

<span *ngIf="loggedIn">
<app-header></app-header>

<ngx-loading-bar></ngx-loading-bar>


<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">

	</section>
	
	<!-- Main content -->
	<section class="content">
		<div class="row no-padding">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 3%;margin-top: 30px;">
				<!-- small box -->
				<section class="content no-padding">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<router-outlet></router-outlet>
  					   </div>
			      	</div>
				</section>
			</div>
			<!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				
			</div> -->
		</div>
	</section>
</div>
<app-footer></app-footer>
</span>

