.content-wrapper{
    min-height: 100% !important;
}
.a {
    top: 420px;
    position: fixed;
    width: 121px;
    height: 69px;
    background-color:#dd4b39;
    color: white;
    transform: rotate(90deg);
    right: -54px;
    z-index: 155;
    text-decoration: none;
    padding-top: 14px;
    padding-left: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .a p{
    margin:15px 0px 0px 0px !important;
    cursor: pointer;
  }
  .red-alert{
    transition: 0.5s all ease-in-out;
  }
 