.dark-modal .modal-content {
    right: -178px;
    top: 80px;

  }
  .dark-modal .close {
    color: #000;
    opacity: .2;
}
  .alert-class .modal-content {
    right: 212px;
    top: 263px;
    width: auto;

  }
  .alert-class .close {
    color: white;
  }
  .red-alert{
    transition: 0.5s all ease-in-out;
  }

  .ng-sidebar--right[_ngcontent-c8] {
    bottom: 0;
    right: 0;
    top: 0;
    position: relative !important;
    overflow: hidden !important;
  }

  .ng-sidebar[_ngcontent-c7] {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    pointer-events: auto;
    position: relative !important;
    touch-action: auto;
    will-change: initial;
    z-index: 2;
    overflow: hidden !important;
  }
  .a {
    top: 22%;
    position: absolute;
    width: 106px;
    height: 40px;
    background-color: #dd4b39;
    color: white;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -33px;
    z-index: 155;
    text-decoration: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 0px;
    text-align: center;
    cursor: pointer;
  }
  .a p , .b p{
    font-size: 17px;

  }
  .b{
    top: 76%;
    cursor: pointer;
    position: absolute;
    width: 106px;
    height: 40px;
    background-color: #00c0ef;
    color: white;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -33px;
    z-index: 155;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 9px;
  }
  .a p{
    padding-top: 7px;
  }
  .pt-0{
    padding-top: 0px !important;
    }
    .priority {
      display: inline-flex;
      width: 100%;
    }
    input[type=checkbox], input[type=radio] {
      /* margin: 2px 0 0 !important; */
      margin-top: 1px\9;
      line-height: normal;
    }
    .auto-select {
      display: flex;
      font-size: 13px;
  }
  .custom-title{
    font-weight: 600;
  }
  .confirm-text{
      padding: 15px;
      text-align: center;
      font-size: 17px;
  }
  .table-striped1 thead tr  th i {
    color: #ccc;
    cursor: pointer;
    }
    .table-striped1 thead tr  th{
      cursor: pointer;
      }
.mb-3{
  margin-bottom: 5% !important;
}
.close-btn button{
    left: 10%;
    top: -54px;
    position: relative;
      }
 .closed-btn button{
  top: -54px;
  position: relative;
 }
.assigned_nos {
      position: relative;
      top: -5px;
      padding-left: 12px;
  }
.mt-3{
  margin-top: 3%;
}
/* input[type=checkbox] {
  margin: -2px 0 0 !important;
} */
/* .tooltip-feedback { */
  /* background-color: #9ad9e4 !important;
  color: #646464 !important; */
  /* overflow: visible !important;
  margin-left: -25px !important;
  margin-top: -20px !important; */
/* } */
/* .new-tooltip-class {
  background-color: #9ad9e4 !important;
  color: #646464 !important;
  margin-top: -20px !important;
} */
.tooltip-feedback {
    background-color: #9ad9e4 !important;
    color: #646464 !important;
    /* overflow: visible !important;
    margin-left: -25px !important;
    margin-top: -20px !important; */
  }
  .new-tooltip-class {
    background-color: #9ad9e4 !important;
    color: #646464 !important;
  }
.custom-control {
  padding-right: 15px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #804a96 !important;
    background-color: #804a96!important;
}
.priority-radio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
}
.priority-column {
  padding-left: 29px !important;
  margin-top: -13px !important;
}
.dropdown-hidden {
  display: none;
}
.text-space {
  resize: vertical;
}
.dos-date {
  min-width: 82px;
}

.btn-search {
  background-color: #00beda;
  border-color: #00beda;
  color: #fff;
  max-width: 66px;
  margin-top: 15px;
}
.btn-search:hover {
  color: #fff !important;
  background-color: #04a1b8 !important;
}
.table-sort {
  display: flex;
  flex-direction: column;
}
.fa-sort-up {
  margin-bottom: -14px;
}
/* .ar-total {
  padding: 5px 5px !important;
} */
