.card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(58,196,125,0.03), 0 0.9375rem 1.40625rem rgba(58,196,125,0.03), 0 0.25rem 0.53125rem rgba(58,196,125,0.05), 0 0.125rem 0.1875rem rgba(58,196,125,0.03);
    text-align: center;
    border: 1px solid #f2f2f2;
    padding-bottom: 15px;
    border:1px solid #d2d6de;
    margin: 0px 30px 15px 43px;
}
.profile-card{
    margin-bottom: 10%;

}
.card-body{
padding: 20px;
}
.card-header h4{
    font-size: 22px;
    text-align: center;
    padding: 25px;
    font-weight: 600;
    letter-spacing: .7px;
}
.profile {
    width: 14%;
    height: 2px;
    background: #ccc;
    margin: 0 auto;
    position: relative;
    top: -20px;
    left: 0px;
}
.profile i {
    position: relative;
    top: -15px;
    background: #ffffff;
    padding: 8px;
    text-align: center;
    color: #00beda;
}
.form-control:hover {
    color: #495057;
    border-color: #00beda;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,190,218,.25);
}

.img-circle {
    border-radius: 50% !important;
    width: 200px !important;
    height: 200px !important;
    border: 4px solid #FFF;
    margin: 10px;
    display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.submit-btn{
    margin-top: 10px;
}
.submit-btn:hover{
    box-shadow: 0 0.46875rem 2.1875rem rgba(58,196,125,0.03), 0 0.9375rem 1.40625rem rgba(58,196,125,0.03), 0 0.25rem 0.53125rem rgba(58,196,125,0.05), 0 0.125rem 0.1875rem rgba(58,196,125,0.03);
}
.upload{
    position: absolute !important;
}
